@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;500;700&display=swap');

@import "extends";
@import "mixins";
@import "vars";


// Общие настройки сайта
* {
    margin: 0;
    padding: 0;
    outline: none;
}

html, body {
    height: 100%;
}

body {
    font-family: 'JetBrains Mono', monospace;
    font-size: 1em;
    font-weight: 300;
    background-color: $bgColor;
    color: $textColor;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 10px;
        background-color: $bgColor;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $black;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
    }
}

a {
    text-decoration: none;
    color: $textColor;
    transition: all 200ms ease;

    &:hover {
        color: $hrefColorHover;
    }
}

button {
    font-family: 'JetBrains Mono', monospace;
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 100;
    margin: 50px 0;
    letter-spacing: 7px;
}

.container {
    width: 90%;
    margin: 0 5%;
    overflow: hidden;
    box-sizing: border-box;
}


// Курсор
#cursor {
    display: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $brightBlue;
    position: absolute;
    z-index: 998;
    pointer-events: none;
    transform: translateX(-43%) translateY(-43%);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,102,255,1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,102,255,1);
    box-shadow: 0px 0px 3px 0px rgba(0,102,255,1);
    transition: all 150ms ease;

    &.show {
        display: block;
    }

    &.active {
        width: 70px;
        height: 70px;
        background-color: rgba(0,102,255,0.15);
    }
}


// Шапка
header {
    height: 100vh;

    &::-webkit-scrollbar {
        width: 0px;
    }

    .parallax {
        position: relative;

        div {
            display: block;
            width: 100%;
            height: 101vh;
            position: fixed;
            z-index: 0;

            &#mountain1 {
                background: url('/img/header_1.png') no-repeat 0 bottom fixed;
                background-size: 104vw;
                transition: all 10ms ease;
            }

            &#mountain2 {
                background: url('/img/header_2.png') no-repeat 0 bottom fixed;
                background-size: 104vw;
                transition: all 10ms ease;
            }

            &#mountain3 {
                background: url('/img/header_3.png') no-repeat 0 bottom fixed;
                background-size: 104vw;
                transition: all 10ms ease;
            }

            &#mountain4 {
                background: url('/img/header_4.png') no-repeat 0 bottom fixed;
                background-size: 104vw;
                transition: all 10ms ease;
            }
        }
    }

    .header {
        @extend %flexbox;
        padding: 10px;
        position: relative;

        a p {
            width: 100px;
            height: 100px;
            margin: 5px;
            line-height: 100px;
            text-align: center;
            background-color: $black;
            border-radius: 15% 85% 15% 85% / 85% 15% 85% 15%;
            font-size: 2em;
            font-weight: 500;
            transition: all 500ms ease;

            a:hover {
                color: $textColor;
            }

            &:hover {
                @extend %shadowBlue;
                border-radius: 50%;
            }
        }

        nav {
            @extend %flexbox;
            position: fixed;
            top: 25px;
            right: 25px;
            z-index: 120;
            
            p {
                display: none;
                margin-right: 40px;
                cursor: pointer;
            }

            #nav-control {
                cursor: pointer;

                span {
                    display: block;
                    width: 30px;
                    height: 3px;
                    background-color: $textColor;
                    transition: all 500ms ease;
                    position: relative;

                    &.first {
                        margin-bottom: 6px;
                    }
                }
            }
        }
    }

    .title {
        width: 100%;
        margin-top: 12%;
        position: relative;
        
        h1, h3 {
            text-align: center;
            text-transform: uppercase;
        }

        h1 {
            font-size: 3.1em;
            letter-spacing: 11px;
        }

        h3 {
            letter-spacing: 3.5px;
            opacity: 0.4;
        }

        p {
            letter-spacing: 1.8px;
            text-transform: uppercase;
            width: 140px;
            margin: 15% auto 0;
            padding: 7px 7px;
            text-align: center;
            border: 3px solid $textColor;
            opacity: 0.4;
            font-size: 1em;
            transition: all 500ms ease;
            cursor: pointer;

            i {color: $brightBlue}

            &:hover {
                opacity: 0.9;
            }
        }
    }

    .vertical-navigation {
        display: none;
        position: fixed;
        top: 100px;
        left: 25px;
        height: 60vh;
        width: 1px;
        background-color: $black;
        z-index: 800;

        div {
            width: 11px;
            height: 11px;
            border-radius: 50%;
            position: relative;
            right: 6px;
            border: 1px solid $black;
            cursor: pointer;
            background-color: $bgColor;
        }
    }
}


// Основная часть
main {
    width: 100%;
    z-index: 90;
    background-color: $bgColor;
    position: relative;

    .container {
        #about {
            min-height: 550px;
            margin: 50px 10px 100px;
            height: 100vh;

            .img-holder {
                width: 50%;
                height: 450px;
                float: right;
                margin-left: 25px;
                background: url('/img/my_photo.png') center center no-repeat;
                background-size: 520px;
                position: relative;
                top: 0px;
                right: -50px;
                transition: filter 500ms ease;

                &:hover {
                    -webkit-filter: drop-shadow(5px 5px 15px $brightBlue);
                    filter: drop-shadow(5px 5px 15px $brightBlue);
                }
            }
    
            .about-text {
                border-left: 5px solid #fbff00;
                padding-left: 25px;
                padding-top: 50px;
                width: 45%;
                display: none;
                
                p {
                    @extend %TextForMain;
                    margin-bottom: 50px;
        
                    a {
                        color: $pink;
                        text-decoration: underline $brightBlue;
                    }

                    span {
                        font-weight: 300;
                        color: #48b3ff;
                    }

                    &:last-of-type {
                        margin-bottom: 30px;
                    }
                }
            }
        }

        #stack {
            .skill-holder {
                margin-bottom: 120px;

                .skill {
                    height: 100%;
                    line-height: 60px;
                    border-top: 1px solid $brightBlue;
                    cursor: pointer;
                    position: relative;

                    &:last-of-type {
                        border-bottom: 1px solid $brightBlue;
                    }

                    .string-skill {
                        @extend %flexbox;
                        margin: 0 10px;
                        opacity: 0.4;
                        transform: translate(120%, 0px);

                        .icon-holder {
                            width: 200px;
                            height: 48px;
                            margin: 10px 0;

                            img {
                                height: 48px;
                                transition: all 500ms ease;
                            }
                        }

                        h3 {
                            font-size: 1.2em;
                            font-weight: 300;
                            text-align: center;
                        }

                        i:last-of-type {
                            width: 50px;
                            margin-left: 150px;
                            text-align: end;
                            opacity: 0;
                            transition: all 600ms ease;
                        }

                        &:hover {
                            opacity: 1;

                            i {opacity: 1;}
                        }
                    }

                    @for $i from 1 to 8 {
                        $delay: $i * 100;
                        &:nth-child(#{$i}) div.active {
                            transform: translate(0px, 0px);
                            @if $i == 1 {
                                transition: transform 500ms ease;
                            } @else {
                                transition: transform 500ms ease #{$delay + ms};
                            }
                        }
                    }
                    
                    ul {
                        @extend %TextForMain;
                        margin-left: 250px;
                        margin-bottom: 20px;
                        display: none;
                    }

                    &.showList {

                        .string-skill {
                            opacity: 1;

                            .icon-holder {
                                width: 200px;

                                img {
                                    height: 64px;
                                }
                            }

                            i:last-of-type {
                                opacity: 1;
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }
        }

        #experience {
            @extend %flexbox;
            margin-bottom: 50px;

            > p {
                @extend %TextForMain;
                margin-left: 1%;
                margin-bottom: 15px;
                line-height: 60px;
    
                q {
                    font-size: 2em;
                    font-weight: 100;

                    b {
                        color: $brightBlue;
                        font-weight: 700;
                    }
                }
            }

            .go-to-it {
                width: 840px;
                height: 600px;
                margin: 0px auto;
    
                ul {
                    @extend %TextForMain;
                    @extend %flexbox;
                    flex-wrap: wrap;
                    margin-top: 40px;
        
                    li {
                        display: block;
                        padding: 10px;
                        width: 250px;
                        height: 250px;
                        border-radius: 50%;
                        font-size: 0.8em;
                        float: left;
                        -webkit-box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.5);
                        -moz-box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.5);
                        box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.5);
                        z-index: 50;
                        background-blend-mode: multiply;
                        transition: all 500ms ease;

                        h4 {
                            font-weight: 700;
                            font-size: 1.8em;
                            text-align: center;
                            width: 140px;
                            color: $brightBlue;
                            opacity: 1;
                            transition: all 500ms ease;
                        }
        
                        span {
                            display: inline-block;
                            font-weight: 300;
                            opacity: 0;
                            transition: all 300ms ease;
                            text-align: justify;
                        }

                        &:hover {
                            border-radius: 5%;
                            z-index: 55;
                            position: relative;

                            h4 {
                                font-size: 1.5em;
                                letter-spacing: 3px;
                            }

                            span {
                                padding-top: 15px;
                                opacity: 1;
                            }
                        }

                        &:nth-child(1) {
                            background: url('/img/my_photo_1.png') center center no-repeat;
                            background-size: 300px;
                            transform: scale(1) rotate(6deg) translate(20px, 0px);
                            position: relative;

                            h4 {
                                transform: translate(60px, 30px);
                                color: $black;
                            }

                            &:hover {
                                @extend %shadowBlue;
                                background-color: #0000007b;
                                transform: scale(1.2) rotate(0deg) translate(30px, 20px);
                            }
                        }

                        &:nth-child(2) {
                            background: url('/img/my_photo_2.png') center center no-repeat;
                            background-size: 300px;
                            transform: scale(1.1) rotate(-3deg) translate(0px, 15px);
                            border: 5px solid #ff00ee;
                            -webkit-box-shadow: 0px 0px 15px 0px rgba(255,0,255,1);
                            -moz-box-shadow: 0px 0px 15px 0px rgba(255,0,255,1);
                            box-shadow: 0px 0px 15px 0px rgba(255,0,255,1);

                            h4 {
                                transform: translate(30px, 80px);
                                color: #ff00ee;
                            }

                            &:hover {
                                background-color: #0000007b;
                                transform: scale(1.2) rotate(0deg) translate(0px, 20px);
                            }
                        }

                        &:nth-child(3) {
                            background: url('/img/my_photo_5.png') center center no-repeat;
                            background-size: 300px;
                            transform: scale(1.05) rotate(2deg) translate(-15px, 0px);
                            z-index: 49;

                            h4 {
                                transform: translate(40px, 80px);
                                color: #ecff8f;
                            }

                            &:hover {
                                @extend %shadowBlue;
                                background-color: #0000007b;
                                transform: scale(1.2) rotate(0deg) translate(-30px, 20px);
                                z-index: 55;
                            }
                        }

                        &:nth-child(4) {
                            background: url('/img/my_photo_3.png') center center no-repeat;
                            background-size: 300px;
                            transform: scale(0.9) rotate(2deg) translate(35px, -30px);
                            border: 5px solid #ecff8f;
                            -webkit-box-shadow: 0px 0px 15px 0px rgba(236,255,143,1);
                            -moz-box-shadow: 0px 0px 15px 0px rgba(236,255,143,1);
                            box-shadow: 0px 0px 15px 0px rgba(236,255,143,1);
                            z-index: 51;

                            h4 {
                                transform: translate(40px, 80px);
                                color: #ecff8f;
                            }

                            &:hover {
                                background-color: #0000007b;
                                transform: scale(1.2) rotate(0deg) translate(30px, -30px);
                            }
                        }

                        &:nth-child(5) {
                            background: url('/img/my_photo_4.png') center center no-repeat;
                            background-size: 300px;
                            transform: scale(1.05) rotate(2deg) translate(0px, -20px);

                            h4 {
                                transform: translate(40px, 80px);
                                color: $black;
                            }

                            &:hover {
                                @extend %shadowBlue;
                                background-color: #0000007b;
                                transform: scale(1.2) rotate(0deg) translate(-15px, -30px);
                            }
                        }

                        &:nth-child(6) {
                            background: url('/img/my_photo_6.png') center -40px no-repeat;
                            background-size: 300px;
                            transform: scale(0.9) rotate(-7deg) translate(-20px, -40px);
                            border: 5px solid #ecff8f;
                            -webkit-box-shadow: 0px 0px 15px 0px rgba(236,255,143,1);
                            -moz-box-shadow: 0px 0px 15px 0px rgba(236,255,143,1);
                            box-shadow: 0px 0px 15px 0px rgba(236,255,143,1);

                            h4 {
                                transform: translate(50px, 60px);
                                color: #ecff8f;
                            }

                            &:hover {
                                background-color: #0000007b;
                                transform: scale(1.2) rotate(0deg) translate(-30px, -30px);
                            }
                        }
                    } 
                }
            }
        }

        #portfolio {
            width: 100%;
            min-height: 100vh;

            h2 {
                margin-top: 0;
            }

            .card-holder {
                @extend %flexbox;
                flex-wrap: wrap;
                width: 100%;

                .card {
                    width: 33%;
                    height: 250px;
                    margin-bottom: 5px;
                    background-color: $textColor;
                    color: $bgColor;
                    overflow: hidden;

                    .preview {
                        width: 100%;
                        height: 100%;
                        margin: auto;
                        background-color: $blue;
                        transition: all 500ms ease;
                        cursor: default;
                    }

                    button {
                        display: block;
                        margin: 0 auto;
                        width: 150px;
                        height: 40px;
                        border: 3px solid $brightBlue;
                        color: $black;
                        transform: translateY(100px);
                        transition: all 500ms ease;
                        cursor: pointer;

                        &:hover {
                            background-color: $brightBlue;
                            color: $textColor;
                        }
                    }

                    &:hover {
                        > div {
                            background-color: #0000007b;
                            transform: scale(1.12);
                            filter: blur(3px);
                        }

                        button {
                            @extend %shadowBlue;
                            transform: translateY(-100px);
                        }
                    }

                    &:nth-child(1) .preview {
                        background: url('/img/sites/portfolio.png') center center no-repeat;
                        background-size: cover;
                    }

                    &:nth-child(2) .preview {
                        background: url('/img/sites/cutdown.png') center center no-repeat;
                        background-size: cover;
                    }
                }

                .mask {
                    display: none;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0,0,0,0.5);
                    position: fixed;
                    top: 0;
                    left: 0;
                    z-index: 250;
                }

                .learn-more {
                    @extend %shadowBlue;
                    display: none;
                    min-width: 500px;
                    width: 50%;
                    margin: 50px auto 0;
                    box-sizing: border-box;
                    background-color: $textColor;
                    color: $black;
                    position: fixed;
                    top: 0;
                    left: 25%;
                    z-index: 300;

                    .close {
                        float: right;
                        width: 100px;
                        height: 30px;
                        border: 0;
                        text-transform: none;
                        color: $black;
                        transition: all 500ms ease;
                        cursor: pointer;

                        &:hover {
                            color: $brightBlue;
                        }
                    }

                    img {width: 100%}

                    p {
                        padding: 0 10px 50px;
                        font-size: 0.9em;

                        b {color: $brightBlue;}
                    }

                    .go-to {
                        display: none;
                        margin: 0 auto;
                        width: 80px;
                        height: 30px;
                        font-size: 0.9em;
                        text-transform: none;
                        border: 3px solid $brightBlue;
                        transition: all 500ms ease;
                        cursor: pointer;
                        position: absolute;
                        bottom: 10px;
                        left: 10px;
                        overflow: hidden;

                        a {color: $black;}

                        &:hover {
                            background-color: $brightBlue;
                            
                            a {color: $textColor;}
                        }
                    }
                }
            }
        }

        #contact {
            margin-bottom: 100px;

            h2 {
                margin-bottom: 30px;
            }

            > div {
                @extend %flexbox;

                .form {
                    width: 600px;
                    box-sizing: border-box;
                    justify-content: start;

                    p i {color: $brightBlue}
    
                    form {
                        width: 100%;
                        margin-top: 20px;
        
                        input,
                        textarea {
                            width: 100%;
                            padding: 7px 10px;
                            border: 0;
                            border-radius: 5px;
                            margin-bottom: 10px;
                            font-family: 'JetBrains Mono', monospace;
                            font-size: 1em;
                            font-weight: 300;
                            background-color: $textColor;
                            color: $bgColor;
                            box-sizing: border-box;
                        }
    
                        input:first-of-type {
                            margin-right: 10px;
                        }
        
                        textarea {
                            height: 200px;
                            resize: none;
                        }

                        #error-block {
                            margin-bottom: 10px;
                            color: red;
                        }

                        #success-block {
                            margin-bottom: 10px;
                            color: #03c300;
                        }
        
                        button {
                            display: block;
                            margin: 0 auto;
                            width: 120px;
                            height: 40px;
                            border: 3px solid $brightBlue;
                            border-radius: 5px;
                            color: $black;
                            transition: all 500ms ease;
                            cursor: pointer;
        
                            &:hover {
                                @extend %shadowBlue;
                                background-color: $brightBlue;
                                color: $textColor;
                            }
                        }
                    }
                }
    
                .img-holder {
                    width: 200px;
                    padding: 0 200px;
                    margin-bottom: 200px;
                    margin-right: 100px;
            
                    img {
                        width: 100%;
                        transform: rotate(-20deg) skew(50deg) translate(-70px, 50px);
                        box-shadow: -50px 50px 5px 0px rgba(0,0,0,0.75);
                        transition: all 500ms ease;
                    }
            
                    &:hover img {
                        transform: rotate(00deg) skew(0deg) translate(50px, 100px) scale(2);
                        box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
                    }
                }
            }
        }
    }
}


// Футер
footer {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    background-color: $blue;
    position: relative;

    .arrow-up {
        display: block;
        width: 50px;
        height: 50px;
        font-size: 40px;
        position: absolute;
        top: -75px;
        right: 25px;
        margin: 0 auto;
        z-index: 500;
        cursor: pointer;
    }

    .container {
        @extend %flexbox;

        .rights {
            @extend %flexbox;
            width: 350px;

            img {
                width: 50px;
                float: left;
            }

            p {
                font-size: 0.9em;
                line-height: 25px;
            }
        }

        .social i {
            width: 50px;
            height: 50px;
            font-size: 40px;
            transition: all 500ms ease;
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
                color: $black;
            }
        }
    }
}