@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;500;700&display=swap');

@import "extends";
@import "mixins";
@import "vars";


// Общие настройки сайта
* {
    margin: 0;
    padding: 0;
    outline: none;
}

html, body {
    height: 100%;
    // cursor: none;
}

body {
    font-family: 'JetBrains Mono', monospace;
    font-size: 1em;
    font-weight: 300;
    background-color: $bgColor;
    color: $textColor;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 10px;
        background-color: $bgColor;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $black;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
    }
}

a {
    text-decoration: none;
    color: $textColor;
    transition: all 200ms ease;

    &:hover {
        color: $hrefColorHover;
    }
}

// @keyframes hoverAnimSmall {
//     animation-duration: 1s;
//     animation-timing-function: ease;
//     animation-delay: 0s;
//     animation-iteration-count: infinite;
//     animation-direction: normal;
//     animation-fill-mode: none;
//     animation-play-state: running;
//     animation-name: hoverAnimSmall;
//     animation-timeline: auto;
//     animation-range-start: normal;
//     animation-range-end: normal;
// }

.container {
    width: 90%;
    margin: 0 5%;
    overflow: hidden;
    box-sizing: border-box;
}


// Курсор
#cursor {
    display: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $brightBlue;
    position: absolute;
    z-index: 998;
    pointer-events: none;
    transform: translateX(-43%) translateY(-43%);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,102,255,1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,102,255,1);
    box-shadow: 0px 0px 3px 0px rgba(0,102,255,1);
    transition: all 150ms ease;

    &.show {
        display: block;
    }

    &.active {
        width: 70px;
        height: 70px;
        background-color: rgba(0,102,255,0.15);
    }
}


// Шапка
header {
    height: 100vh;

    &::-webkit-scrollbar {
        width: 0px;
    }

    .parallax {
        position: relative;

        div {
            display: block;
            width: 100%;
            height: 100vh;
            position: fixed;
            z-index: 0;

            &#mountain1 {
                background: url('/img/header_1.png') no-repeat 0 bottom fixed;
                background-size: 100vw;
            }

            &#mountain2 {
                background: url('/img/header_2.png') no-repeat 0 bottom fixed;
                background-size: 100vw;
            }

            &#mountain3 {
                background: url('/img/header_3.png') no-repeat 0 bottom fixed;
                background-size: 100vw;
            }

            &#mountain4 {
                background: url('/img/header_4.png') no-repeat 0 bottom fixed;
                background-size: 100vw;
            }
        }
    }

    .header {
        @extend %flexbox;
        padding: 10px;
        position: relative;

        a p {
            width: 100px;
            height: 100px;
            margin: 5px;
            line-height: 100px;
            text-align: center;
            background-color: $black;
            border-radius: 15% 85% 15% 85% / 85% 15% 85% 15%;
            font-size: 2em;
            font-weight: 500;
            transition: all 500ms ease;

            a:hover {
                color: $textColor;
            }

            &:hover {
                @extend %shadowBlue;
                border-radius: 50%;
            }
        }

        nav {
            @extend %flexbox;
            
            p {
                display: none;
                margin-right: 50px;
                cursor: pointer;
            }

            #nav-control {
                cursor: pointer;

                span {
                    display: block;
                    margin-right: 20px;
                    width: 30px;
                    height: 3px;
                    background-color: $textColor;
                    transition: all 500ms ease;
                    position: relative;

                    &.first {
                        margin-bottom: 6px;
                    }
                }
            }
        }
    }

    .title {
        width: 100%;
        margin-top: 12%;
        position: relative;
        
        h1, h3 {
            text-align: center;
            text-transform: uppercase;
        }

        h1 {
            font-size: 3.1em;
            letter-spacing: 11px;
        }

        h3 {
            letter-spacing: 3.5px;
            opacity: 0.4;
        }

        p {
            letter-spacing: 1.8px;
            text-transform: uppercase;
            width: 140px;
            margin: 15% auto 0;
            padding: 7px 7px;
            text-align: center;
            border: 3px solid $textColor;
            opacity: 0.4;
            font-size: 1em;
            transition: all 500ms ease;
            cursor: pointer;

            i {color: $brightBlue}

            &:hover {
                opacity: 0.9;
            }
        }
    }
}


// Основная часть
main {
    width: 100%;
    z-index: 90;
    background-color: $bgColor;
    position: relative;

    .container {
        #about {
            // @extend %mainBlocks;
            margin: 50px 10px 100px;
            // height: 100vh;

            h2 {
                font-size: 1.5em;
                font-weight: 300;
                margin-bottom: 20px;
            }
    
            p {
                @extend %TextForMain;
                margin-bottom: 15px;
    
                q {
                    font-size: 1em;
                    font-weight: 300;
                    color: $brightBlue;
                }
    
                a {
                    color: $pink;
                    text-decoration: underline $brightBlue;
                }
            }
    
            ul {
                @extend %TextForMain;
                list-style: armenian;
    
                li {
                    @extend %flexbox;
                    align-items: start;
    
                    span {
                        display: inline-block;
                        width: 97%;
    
                        b {
                            font-weight: 300;
                            color: $brightBlue;
                        }
                    }
                } 
            }

            .img-holder {
                width: 600px;
                height: 550px;
                float: right;
                margin-left: 25px;
                background: url('/img/my_photo2.png') center center no-repeat;
                background-size: 520px;
                // background-color: $brightBlue;
                // background-blend-mode: multiply;
                // border: 1px solid $brightBlue;
                // @extend %shadowBlue;
            }
        }

        #stack {
            h2 {
                text-transform: uppercase;
                font-size: 1.8em;
                font-weight: 500;
                text-align: center;
                margin: 50px 0;
            }

            .skill-holder {

                .skill {
                    height: 100%;
                    line-height: 60px;
                    border-top: 1px solid $brightBlue;
                    cursor: pointer;
                    position: relative;

                    &:last-of-type {
                        border-bottom: 1px solid $brightBlue;
                    }

                    // &::before {
                    //     display: block;
                    //     content: '';
                    //     background-color: $brightBlue;
                    //     height: 100%;
                    //     width: 100%;
                    //     position: absolute;
                    //     transform: translateX(-100px);
                    //     transition: all 500ms ease;
                    // }

                    // @keyframes openSkill {
                    //     0% {transform: translate(-100px)}
                    //     100% {transform: translateX(0px)}
                    // }

                    div {
                        @extend %flexbox;
                        margin: 0 10px;
                        opacity: 0.4;
                        transform: translate(120%, 0px);

                        h3 {
                            font-size: 1.2em;
                            font-weight: 300;
                            text-align: center;
                        }

                        i:last-of-type {
                            opacity: 0;
                            transition: all 600ms ease;
                        }

                        &:hover {
                            opacity: 1;

                            i {opacity: 1;}
                        }
                    }

                    @for $i from 1 to 8 {
                        $delay: $i * 150;
                        &:nth-child(#{$i}) div.active {
                            transform: translate(0px, 0px);
                            @if $i == 1 {
                                transition: transform 500ms ease;
                            } @else {
                                transition: transform 500ms ease #{$delay + ms};
                            }
                        }
                    }
                    
                    ul {
                        @extend %TextForMain;
                        margin-left: 150px;
                        margin-bottom: 20px;
                        display: none;
                    }

                    &.showList {

                        div {
                            opacity: 1;

                            i:last-of-type {
                                opacity: 1;
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }
        }
    }
}


// Футер
footer {
    width: 100%;
    height: 1500px;
    background-color: $bgColor;
    position: relative;
}